Makefile
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.*
*.gmo
*.pot
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it

*.swp
*~
*.o
*_vala.stamp
.deps
.dirstamp
/src/*.c
/src/config2.vala
vim.session

/vala-skeleton
