Makefile
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.*

*.swp
*~
*.o
*_vala.stamp
.deps
.dirstamp
vala-skeleton
/src/*.c
/src/config.vala
vim.session

